<section class="py-28 relative z-10">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between relative z-10"
  >
    <div class="max-w-2xl">
      <h1 class="text-4xl font-bold text-gray-900">
        Mejora tu Evento con un Sabor Único
      </h1>
      <p class="mt-4 text-xl text-gray-700">
        Galletas Decoradas <span class="bg-[#22587D] text-white font-bold"
          >Personalizables</span
        > y Exclusivas
      </p>
      <p class="mt-4 text-gray-600">
        Eleva tus eventos con nuestras galletas decoradas artesanales. Cada
        pieza es una obra de arte comestible, hecha con los mejores ingredientes
        y un toque de creatividad. Perfectas para cualquier ocasión especial,
        nuestras galletas añadirán dulzura y elegancia a tu celebración.
      </p>
      <a
        href="#"
        class="mt-8 inline-block bg-[#8DBEE1] text-white font-medium py-3 px-6 rounded hover:bg-[#6B96B5]"
      >
        ¡Haz tu pedido único aquí!
      </a>
    </div>
    <div class="hidden lg:block">
      <img
        src="/alecocinando.png"
        alt="Chef illustration"
        class="w-96 h-auto"
      />
    </div>
  </div>
</section>
